@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
        </p>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <h2>Podłoczonych użytkowników: <span id="clients-counter">0</span></h2>
        <textarea class="form-control" style="height:200px"></textarea>
        <input type="text" id="chat-text" class="form-control form-inline" />
        <input type="button" value="Send!" class="btn btn-default form-control form-inline" id="send-chat-msg" />
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
    $.connection.chat.client.showMessage=function(msg) {
        $("textarea").append(msg + "\n");
    }
    $.connection.chat.client.updateNumberOfClients = function (numberOfClients) {
        $("#clients-counter").text(numberOfClients);
        console.log("updateNumberOfClients: "+numberOfClients);
    }

    $.connection.hub.start().then(function () {
        console.log("connected");
    });

    $("#send-chat-msg").click(function () {
        var msg = $("#chat-text").val();
        $("#chat-text").val("");
        $.connection.chat.server.sendMessage(msg);
    });
</script>

}